@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/Archivo-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.overlay{
  border-radius: 0% -20px  20% 0;
}